.leaflet-routing-container {
  display: none !important;
}

.map-filter-div {
  position: absolute;
  top: 0;
  left: 60px;
  z-index: 9999;
}
/* 
@media only screen and (max-width:990px) {
  .map-filter-div{
    position:relative !important;
    left: 0 !important;
    margin:2px 5px !important;
  }
} */
