.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/login-banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-box {
  font-family: poppins;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 500px;
  margin-left: 200px !important;
}
.login-box p {
  letter-spacing: 2px;
}
#loginbtn {
  position: relative;
  display: inline-block;
  padding: 10px 20px !important;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 10px !important;
}
#loginbtn:hover {
  background: #f8f8ff;
  color: #100c08 !important;
  border-radius: 5px;
}
.login_btn_line {
  position: absolute;
  display: block;
}

.form-control {
  background: transparent !important;
  border-radius: 8px;
  border: 1px solid grey !important;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}
.login_btn_line:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .login-container {
    background: hsla(186, 33%, 94%, 1);

    background: linear-gradient(
      90deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );

    justify-content: center;
  }
  .login-box {
    margin-left: 0 !important;
    margin: 0px 30px !important;
  }
}
