/* .leaflet-routing-container .leaflet-routing-alt {
  font-size: 14px;
  color: #333;
}

.leaflet-routing-container .leaflet-routing-alt .leaflet-routing-instructions {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
} */

.leaflet-routing-container {
  display: none !important;
}

.map-filter-div {
  position: absolute;
  top: 0;
  left: 60px;
  z-index: 9999;
}
